header 
    section.header-icons-container 
        div.icons 
            a(href="")
                span.flaticon-001-facebook
            a(href="")
                span.flaticon-002-twitter
            a(href="")
                span.flaticon-011-instagram
            a(href="")
                span.flaticon-010-linkedin
            a(href="")
                span.flaticon-008-youtube
    nav 
        section.nav-logo-container 
            a(href="")
                img(src="", alt="") 
        section.profile-link 
            a(href="") Sobre mi 