doctype html
html(lang="en")
    include components/head.pug
    body.home-body 
        include components/header.pug
        include components/home.pug
        //- include components/footer.pug
        